.template {
  margin: 1em;
  &--title {
    display: block;
    text-align: center;
    margin-bottom: 2em;
    &--small {
      display: block;
      text-align: center;
      font-size: 1em;
      margin-top: 1em;
      text-transform: lowercase;
    }
  }
  &__image {
    max-width: 500px;
    display: block;
    margin: auto;
    border: transparent solid 4px;
    transition: 0.5s;
    height: auto;
    object-fit: contain;
    &:hover {
      border: rgba(255, 139, 77, 0.863) solid 4px;
      transition: 0.2s;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 525px;
    text-align: center;
    overflow: hidden;
    overflow-x: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
  }
  &__preview {
    padding: 0;
    margin: 3rem auto;
    column-gap: 3rem;
    div {
      text-transform: none;
      max-width: 500px;
    }
  }
}

#prev,
#next {
  position: absolute;
  top: 40%;
  font-size: 5rem;
  font-weight: lighter;
  cursor: pointer;
  color: #fff;
}

#next {
  right: 6%;
}

#prev {
  left: 6%;
  transform: rotateY(180deg);
}
