{% extends 'layout/base.html' %}
{% load static %}
{%load template_filters%}
{% block scripts %}
    {{ block.super }}
    <script type="module" src="{% static 'js/public/select-mailing.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="wrapper__mailings">
        <div class="wrapper__left">
            {% block section %}
                {% include '../components/_navbar.html' %}
            {% endblock %}
            <div class="wrapper__left--titles">
                <p class="wrapper__left--text">Filter by</p>
                    <select id ="filter-type" class="wrapper__left--select">
                        <option default></option>
                        <option>Tag</option>
                        <option>User</option>
                    </select>
                <p>
                    <input id ="tag_input" class ="wrapper__left--input filters hide" type="text" placeholder="Enter tags to filter">
                    <input id ="user_input" class ="wrapper__left--input filters hide" type="text" placeholder="Enter user to filter">
                </p>
                <p>
                    <button class = "wrapper__left--button" id ="filter-btn">Filter</button>
                </p>
            </div>
            <a class="logo_wrapper" href="https://colorofchange.org">
                <img class="logo" src="{% static 'images/logo.png' %}"/>
            </a>
        </div>
        <div class="wrapper__right wrapper-right-existing-mailings">
            <!-- 
                TODO: Display mailings here with the date, subject and any associated tags 
                Flex your creative muslces in how you display things!
            -->
            {% for email in mailings_obj %}
            <div class="exist-mailing mail-container">
                <div class="mail-column">
                    <p class="exist-mailing--date">
                        {{ email.created_date }}
                    </p>
                    <h3 class="exist-mailing--title">{{ email }}</h3>
                    <ul class="exist-mailing--tags">
                        {% if email.tag_ask is not None %}<li class="exist-mailing--tags-ask">{{ email.tag_ask }}</li>{% endif %}
                        {% if email.tag_camp is not None %}<li class="exist-mailing--tags-camp">{{ email.tag_camp }}</li>{% endif %}
                        {% if email.tag_dept is not None %}<li class="exist-mailing--tags-dept">{{ email.tag_dept }}</li>{% endif %}
                        {% if email.tag_ent is not None %}<li class="exist-mailing--tags-entity">{{ email.tag_ent }}</li>{% endif %}
                        {% if email.tag_i is not None %}<li class="exist-mailing--tags-issue">{{ email.tag_i }}</li>{% endif %}
                        {% if email.tag_oth is not None %}<li class="exist-mailing--tags-other">{{ email.tag_oth }}</li>{% endif %}
                        {% if email.tag_own is not None %}<li class="exist-mailing--tags-owner">{{ email.tag_own }}</li>{% endif %}
                        {% if email.tag_tgt is not None %}<li class="exist-mailing--tags-targeting">{{ email.tag_tgt }}</li>{% endif %}
                        {% if email.tag_help is not None %}<li class="exist-mailing--tags-helper">{{ email.tag_help }}</li>{% endif %}
                    </ul>
                </div>
                <div class="mail-column--right">
                    <a class="mail-edit-link" href="{% url 'mailings-detail' mailing_id=email.id %}">Edit</a>
                </div>
            </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if mailings_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ mailings_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ mailings_obj.number }} of {{ mailings_obj.paginator.num_pages }}.
                    </span>
            
                    {% if mailings_obj.has_next %}
                        <a href="?page={{ mailings_obj.next_page_number }}">next</a>
                        <a href="?page={{ mailings_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}