{% extends 'layout/base.html' %}
{% load static %}
{%load template_filters%}
{% block scripts %}
    {{ block.super }}
    <script type="module" src="{% static 'js/public/select-mailing.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="wrapper__mailings">
    <div class="wrapper__left">
        {% block section %}
            {% include '../components/_navbar.html' %}
        {% endblock %}
        <div class="wrapper__left--titles">
            <p class="wrapper__left--text">Filter by</p>
                <select id ="filter-type" class="wrapper__left--select">
                    <option default></option>
                    <option>Tag</option>
                    <option>User</option>
                </select>
            <p>
                <input id ="tag_input" class ="wrapper__left--input filters hide" type="text" placeholder="Enter tags to filter">
                <input id ="user_input" class ="wrapper__left--input filters hide" type="text" placeholder="Enter user to filter">
            </p>
            <p>
                <button class = "wrapper__left--button" id ="filter-btn">Filter</button>
            </p>
        </div>
        <a class="logo_wrapper" href="https://colorofchange.org">
            <img class="logo" src="{% static 'images/logo.png' %}"/>
        </a>
    </div>
    <div class="wrapper__right">
        <div class="wrapper__right--titles">

            {% for mailing in all_mailings_page %}
                <br>
                <div class="wrapper__right--box">

                    <div class="wrapper__right--text">
                            {{ mailing }}
                    </div>
                    <br>
                    <div class="wrapper__right--date">

                        {{ mailing.updated_date|date:'b. m, Y' }}
                        <br>
                    </div>

                    <div class="wrapper__right--tags">

                        {% if mailing.tags.name %}
                            {{ mailing.tags.name }}
                        {% endif %}
                    </div>
                    <br>
                </div>
            {% endfor %}

        </div>

        <div class="pagination">


                {% if all_mailings_page.has_previous %}
                    <a href="?page={{ all_mailings_page.previous_page_number }}" class="wrapper__right--pagenav">previous page</a>
                {% endif %}
            


                {% if all_mailings_page.has_next %}
                    <a href="?page={{ all_mailings_page.next_page_number }}" class="wrapper__right--pagenav">next page</a>
                {% endif %}
            
                <br>
                <br>
                 <h3>Page {{ all_mailings_page.number }} of {{ all_mailings_page.paginator.num_pages }}</h3>
                <br>
       
        </div>

    </div>
    </div>
{% endblock %}