<!-- <p>{% if preview_text %}<span style="display: none; font-size: 0px; color: #fff; line-height: 0px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">{{ preview_text }}</span>{% endif %}</p> -->
<style type="text/css">
p {margin-bottom:1em;}
</style>
<div class="body-text" style="font-family: Verdana,sans-serif; font-size: 13px; line-height: 21px;">
    {% block content %} Content Goes here. {% endblock content %}
    <!-- <hr /> -->
</div>
<div style="width: calc(100% - 40px); padding: 20px 20px; background-color: black; margin: 10px 0px; text-align: center; position: relative; overflow: auto;"><img style="display: none;" src="https://d11gn0ip9m46ig.cloudfront.net/images/footerlogo.png" />
<p style="color: white; font-size: 12px; margin-top: 10px;"><a style="color: white; text-decoration: none;" href="http://colorofchange.org" target="_blank" rel="noopener">Color Of Change</a> is building a movement to elevate the voices of Black folks and our allies, and win real social and political change. <strong>Please help keep our movement strong.</strong></p>
<p style="text-align: center; margin: 40px 5px 30px 5px;"><a style="background-color: #f95219; color: white; font-weight: bold; padding: 20px; text-decoration: none; border-radius: 10px; font-size: 14px;" href="https://secure.actblue.com/contribute/page/support-us?refcode=c3c4emailfooter_graphic_jun20&amp;amount=20">Make a Donation</a></p>
</div>
If you're absolutely sure you don't want to hear from Color Of Change again, <a href="http://act.colorofchange.org/cms/unsubscribe/unsubscribe/">click here</a> to unsubscribe.</p></div>
<!-- Following 3 lines are for Return Path -->
<p> </p>
<!-- rpcampaign: coc_{{ mailing_id }} -->
<p><img src="https://pixel.monitor1.returnpath.net/pixel.gif?r=d08e7d67b7c8b8882e0589eb82dc35a5dc4469d6" width="1" height="1" /> <img src="https://pixel.app.returnpath.net/pixel.gif?r=d08e7d67b7c8b8882e0589eb82dc35a5dc4469d6&amp;c=updateddefault&amp;s={{ user.id }}" width="1" height="1" /></p>